<div class="alert alert-info">
  <label>状态：</label>
   <if condition="$status==''||$status==null||$status==3">  <a href="__URL__/listall/status/3" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/3" class="btn btn-link">
   </if>
        全部 ({$statusCount.allCount})</a>
   <if condition="$status==0&&$status!=''&&$status!=null"><a href="__URL__/listall/status/0 " class="btn btn-info">
        <else /> <a href="__URL__/listall/status/0" class="btn btn-link">
   </if>
      <i class="icon-spinner"></i> 审核  ({$statusCount.auditCount})</a>
    <if condition="$status==1 ">  <a href="__URL__/listall/status/1" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/1" class="btn btn-link">
   </if>
      <i class="icon-unlock"></i> Enable  ({$statusCount.enableCount})</a>
    <if condition="$status==2 ">  <a href="__URL__/listall/status/2" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/2" class="btn btn-link">
   </if>
      <i class="icon-lock"></i> Disable  ({$statusCount.disableCount})</a>
</div>