
<div class="alert alert-info">
  <label>状态：</label>
   <if condition="$status==''||$status==null||$status==3">  <a href="__URL__/listall/status/3/type/0" class="btn btn-info">全部 </a>
        <else /> <a href="__URL__/listall/status/3/type/0" class="btn btn-link">全部 </a>
   </if>
   <if condition="$status==0&&$status!=''&&$status!=null"><a href="__URL__/listall/status/0/type/0 " class="btn btn-info">
        <else /> <a href="__URL__/listall/status/0/type/0" class="btn btn-link">
   </if>
      <i class="icon-spinner"></i> 审核 </a>
    <if condition="$status==1 ">  <a href="__URL__/listall/status/1/type/0" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/1/type/0" class="btn btn-link">
   </if>
      <i class="icon-unlock"></i> Enable </a>
    <if condition="$status==2 ">  <a href="__URL__/listall/status/2/type/0" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/2/type/0" class="btn btn-link">
   </if>
      <i class="icon-lock"></i> Disable</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>类型：</label>
   <if condition="$paramType==0 ">  <a href="__URL__/listall/status/<?php echo $status;?>/type/0" class="btn btn-info">全部 ({$typeCount.allCount})</a>
        <else /> <a href="__URL__/listall/status/<?php echo $status;?>/type/0" class="btn btn-link">全部 ({$typeCount.allCount})</a>
   </if>
   <if condition="$paramType==1 ">  <a href="__URL__/listall/status/<?php echo $status;?>/type/1" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/<?php echo $status;?>/type/1" class="btn btn-link">
   </if>
      <i class="icon-user"></i> 会员 ({$typeCount.memberCount}) </a>
    <if condition="$paramType==2 ">  <a href="__URL__/listall/status/<?php echo $status;?>type/2" class="btn btn-info">
        <else /> <a href="__URL__/listall/status/<?php echo $status;?>/type/2" class="btn btn-link">
   </if>
      <i class="icon-user-md"></i> 管理 ({$typeCount.adminCount})</a>
</div>