<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
<title>T-精彩（t-wonderful)-精彩Web分享</title>
<link rel="shortcut icon" href="__PUBLIC__/images/title-logo.gif"/>
<meta name="keywords" content="首页" />
<meta name="description" content="首页 "/>
<meta name="MSSmartTagsPreventParsing" content="True"/>
<meta http-equiv="MSThemeCompatible" content="Yes"/>
  <link rel="stylesheet" href="__PUBLIC__/css/home/core.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/home/read.css"/>
    <!-- <link rel="stylesheet" href="__PUBLIC__/css/home/test.css"/> -->
  <script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/home.core.js" type="text/javascript"></script>
</head>
<body>
   <include file="Home@Public/navbar"/>
  <div class="container">
    <div class="main">
      <div class="header">
         <include file="Home@Web/menu" />
      </div>
      <div class="content" id="content">
        <div class="title">
         <h2>{$web.title}</h2>
         <h3> <span>{$web.date}</span> <?php 
                     $arrTags=array(); $tagStrs=""; $tagStr=$web["tags"];if($tagStr!=null&&$tagStr!=""){ $arrTags=explode(",", $tagStr); } 
                     for ($i=0; $i <count($arrTags); $i++) {
                            echo "<span class='lable'>".$arrTags[$i]."</span> "; 
                }?>
              <span class="op">{$web.count.click}</span>
          </h3>
        </div>
         <div class="content-body">
            {$web.content.content}
         </div>
         <div class="content-footer">

         </div>
      </div>
      <div class="footer">

      </div>
    </div>
    
  </div>
</body>
</html>